@addTagHelper *, LazZiya.TagHelpers
@model PagedResult<EmployeesVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fourth bus stop</h1>
</div>
<div class="container">
    <table cellpadding="0" cellspacing="0" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Manager Id</th>
                <th>Time Arrivrl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.SurName</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>@item.ManagerId</td>
                    <td>@item.When</td>
                </tr>
            }
        </tbody>
    </table>


</div>

<paging page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        total-records="@(Model.RowCount)">
</paging>