@model List<EmployeesVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Fourth bus stop</h1>
</div>
<div class="container">
    <table class="tabble table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Manager Id</th>
                <th>Time Arrivrl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              <tr>
                  <td>@item.Id</td>
                  <td>@item.Name</td>
                  <td>@item.SurName</td>
                  <td>@item.Age</td>
                  <td>@item.Email</td>
                  <td>@item.Role</td>
                  <td>@item.ManagerId</td>
                  <td>@item.When</td>
              </tr>
            }
        </tbody>
    </table>
   
</div>